.content {
  position: relative;
  z-index: 3;
}

.alert {
  font: 14px Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 12px lightgray;
}
p { margin: 12px; }
.alert .buttons {
  float: right
}

#no {
  position: absolute;
  display: inline-block;
  left: 35%;
  top: 40vh;
  -webkit-transition: all 0.1s ease-out;
}
#yes {
  position: absolute;
  display: inline-block;
  left: 70%;
  top: 40vh;
  -webkit-transition: all 0.3s ease-out;
}
#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: repeat;
  background-image: url(../img/bg-2.gif);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(1px);
}
.swal2-title,
.swal2-content {
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: Arial, sans-serif; /* Using Arial as a fallback font */
  font-size: 36px; /* Slightly increased font size for emphasis */
  color: #ec034d; /* Adjusted color for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
  text-align: center;
  margin-top: 40px; /* Increased margin for better spacing */
  text-transform: uppercase;
  letter-spacing: 1px; /* Added letter spacing for clarity */
  line-height: 1.2; /* Adjusted line height for better vertical rhythm */
  margin-bottom: 20px; /* Reduced margin for better balance */
}

header h4 {
  font-family: sans-serif;
  text-align: center;
  color: rgb(17, 182, 160);
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: sans-serif;
    font-size: 45px;
    margin-top: 15px;
    color: whitesmoke;
    text-shadow: 2px 2px #FF0000;
    text-align: center;
    margin-bottom: 35px;
  }
  header h4 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(17, 182, 160);
    padding: 15px;
  }
  #no {
    position: absolute;
    display: inline-block;
    left: 7%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes {
    position: absolute;
    display: inline-block;
    left: 58%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}
