.content {
  position: relative;
  z-index: 3;
}
#no {
  position: absolute;
  display: inline-block;
  left: 35%;
  top: 40vh;
  -webkit-transition: all 0.1s ease-out;
}
#yes {
  position: absolute;
  display: inline-block;
  left: 70%;
  top: 40vh;
  -webkit-transition: all 0.3s ease-out;
}
#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: repeat;
  background-image: url(../img/bg-2.gif);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(1px);
}
.swal2-title,
.swal2-content {
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: sans-serif;
  font-size: 32px;
  color: rgb(255, 0, 0);
  text-shadow: 3px 2px #ffffff;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
header h4 {
  font-family: sans-serif;
  text-align: center;
  color: rgb(17, 182, 160);
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: sans-serif;
    font-size: 45px;
    margin-top: 15px;
    color: whitesmoke;
    text-shadow: 2px 2px #FF0000;
    text-align: center;
    margin-bottom: 35px;
  }
  header h4 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(17, 182, 160);
    padding: 15px;
  }
  #no {
    position: absolute;
    display: inline-block;
    left: 7%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes {
    position: absolute;
    display: inline-block;
    left: 58%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}
